nav a[href^="http://"]:after, nav a[href^="https://"]:after {
	content: "";
	background: url(/images/fa-external.png) center right no-repeat;
    padding-right: 17px;
}

nav a[href^="http://localhost"]:after, nav a[href^="https://ref.sandipb.net"]:after {
	content: "";
	background: none;
    padding-right: 0;
}

article .post-entry a {
	color: #008AFF;
}

article aside {
	background: #f7f7f7;
	padding: 0.5em;
}

a,
a:active,
a:hover,
a:visited {
	color: #004df4;
	text-decoration: underline dashed;
    font-weight: bold;
}
