{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <div class="li-main-article-list">
                    {{ range ( .Paginate (where .Site.RegularPages "Type" "post")).Pages }}
                        <div class="li-article">
                            {{ .Content}}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
